footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div {
  flex: 1;
  align-self: flex-start;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: #282c34;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #61dafb;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #61dafb;
  color: #fff;
}

form button:hover {
  background-color: #fff;
  color: #61dafb;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
